@font-face {
	font-family: "Ubuntu";
	font-weight: 400;
	src: url("Ubuntu/Ubuntu-Regular.ttf");
}



body {
	color: #FFF;
	background-color: #022;
	font-family: "Ubuntu", sans-serif;
	font-size: 1rem;
}



button {
	background: transparent;
	border: 0;
	font-size: 1.2rem;
	height: 3rem;
	width: 3rem;
	color: #FFFFFF;
}



#audioFileInput {
	position: absolute;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	z-index: -5;
	overflow: hidden;
}

#audioFileInputContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#audioFileLabel {
	display: inline-block;
	font-size: 1.5rem;
	border: 2px solid #FFF;
	border-radius: 5px;
	padding: 1rem 2rem;
	transition: color 0.2s, background-color 0.2s;
}

#audioFileLabel:active, #audioFileLabel:focus {
	color: #022;
	background-color: #FFF;
}



#debugShowButton {
	position: fixed;
	top: 0;
	left: 0;
	color: #DDDDDD;
}

#debugContainer {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 10;
	background-color: #022;
}
